<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col>
      <ion-item lines="none">
        <ion-label>
          <h1>{{ city }}</h1>
          <p>{{ country }}</p>
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item lines="none">
        <ion-label class="ion-text-right">
          <h2>Çarşamba</h2>
          <p>{{ statu}} </p>
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="ion-text-right">
      <ion-icon class="like" (click)="like()" [name]="icon"></ion-icon><!-- bu kısımda properties binding yaptık! -->
    </ion-col>
    
    <ion-col size="12" class="icon ion-text-center">
      
      <ion-icon class="{{currentIcon}}" name="{{currentIcon}}"></ion-icon>
      
      <ion-item lines="none">
        
        <ion-label class="ion-text-center ion-no-margin">
          
          <h1 class="derece">{{ deg }}&deg;</h1>
          
          <ion-row>
            
            <ion-col>
              <p>{{ wind }} km/h <ion-icon class="ruzgarYonu" name="arrow-back"></ion-icon></p>
            </ion-col>
            
            <ion-col>
              <p>{{ humidity }}% <ion-icon name="thermometer-outline"></ion-icon></p>
            </ion-col>

          </ion-row>

        </ion-label>

      </ion-item>

    </ion-col>

  </ion-row>
  
  <ion-row *ngIf="fetch5DaysData!==null" class="ion-text-center liste">
    
    <ion-col >
      <p>16.04</p>
      <img src="https://openweathermap.org/img/w/{{ fetch5DaysData.list[0].weather[0].icon }}.png" />
       <p>{{ fetch5DaysData.list[0].main.temp }}&deg;</p>
    </ion-col>
    
    <ion-col >
      <p>17.04</p>
      <img src="https://openweathermap.org/img/w/{{ fetch5DaysData.list[1].weather[0].icon }}.png" />
      <p>{{ fetch5DaysData.list[1].main.temp }}&deg;</p>
    </ion-col>
   
    <ion-col >
      <p>18.04</p>
      <img src="https://openweathermap.org/img/w/{{ fetch5DaysData.list[2].weather[0].icon }}.png" />
      <p>{{ fetch5DaysData.list[2].main.temp }}&deg;</p>
    </ion-col>
    
    <ion-col >
      <p>19.04</p>
      <img src="https://openweathermap.org/img/w/{{ fetch5DaysData.list[3].weather[0].icon }}.png" />
      <p>{{ fetch5DaysData.list[3].main.temp }}&deg;</p>
    </ion-col>
    
    <ion-col >
      <p>20.04</p>
      <img src="https://openweathermap.org/img/w/{{ fetch5DaysData.list[4].weather[0].icon }}.png" />
      <p>{{ fetch5DaysData.list[4].main.temp }}&deg;</p>
    </ion-col>
  
  </ion-row>
</ion-content>
